{% extends "page_base.html" %}
{% block contents %}
<h3>Movies</h3>
<form id="filtering" method="GET" action="/">
    <div id="genres">
        {% for genre in genres %}
        <span class="genre_select">
            <label>
                <input type="checkbox" name="genres" value="{{ genre.id }}" {% if genre.id|string in selected_genres %}checked{% endif %}>
                {{ genre.name }}
            </label>
        </span>
        {% endfor %}
    </div>
    </div>

    <label for="search">Search Movies:</label>
    <input type="text" name="search" id="search" value="{{ search_query }}">

    <button type="submit">Search</button>
    <a href="/" class="clear">Clear Filters</a>
</form>
    
{% for movie in movies %}
<div class="movie">
	<h5>{{ movie.title }}</h5>
	<p>{{ movie.release }}<br>
	{{ movie.description }}<br>
    <div class="genres">
        <p>
        {% for film_genre in movie.genres %}
        <span class="genre_box">
            {{ film_genre.name }}
        </span>
        {% endfor %}
        </p>
    </div>
    {% if movie in watchlist_movies %}<a class="add" href="/unadd/{{ movie.id }}">Remove</a>{% else %}
    <a class="add" href="/add/{{ movie.id }}">Add</a>{% endif %}
	</p>
</div>
{% endfor %}

{% if not movies %}
<h5>No Movies Found</h5>
{% endif %}

{% endblock %}
